form {
  fieldset {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: $baseDes !important;
    margin-bottom: $baseDes !important;
    padding-bottom: $basePdding !important;
    border: 1px solid rgba($darkGray, 30%);
    border-radius: $radius;

    legend {
      padding: 0px 10px;
      margin-left: 10px;
      font-size: 20px;
      color: rgba($darkGray, 60%);
      &.diesplayError {
        color: $red;
      }
      &.hide {
        display: none;
      }
    }
  }
  &.addEditForm {
    display: flex;
    justify-content: space-between;
    // align-items: baseline;
    flex-wrap: wrap;
    fieldset {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: baseline;
      width: calc(50% - 20px);

      .porBox {
        width: calc(50% - 20px);
      }

      label {
        width: 190px;
        background-color: lighten($darkGray, 70);
        padding: 10px 20px;
        margin-left: 0px;
      }
      input,
      select,
      textarea {
        width: calc(100% - 200px);
        margin-left: 0px;
        margin-right: 0px;
        &.small {
          width: auto;
        }
      }
    }
    .fullWidth {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      h4 {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 0px;
      }
    }
    .contactAboutBox {
      width: calc(50% - 20px);
      fieldset {
        width: 100%;
      }
    }
  }
}
input {
  &[type="text"],
  &[type="number"] {
    line-height: 30px;
    width: 100%;
    padding: calc($basePdding * 0.5);
    margin: calc($baseDes * 0.2);
    border-radius: $radius;
    // min-width: 500px;
  }
}
textarea {
  line-height: 30px;
  width: 100%;
  padding: calc($basePdding * 0.5);
  margin: calc($baseDes * 0.2);
  border-radius: $radius;
}
select {
  line-height: 30px;
  width: 100%;
  padding: calc($basePdding * 0.5);
  margin: calc($baseDes * 0.2);
  &.small {
    width: auto;
    margin-left: 20px;
  }
}

label {
  line-height: 30px;
  margin: 20px 0px 0px 5px;
  display: inline-block;
  color: lighten($darkGray, 3);

  .farbenCol & {
    min-width: 150px;
  }
}
.withInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  > label {
    line-height: 30px;
    margin-bottom: 0px;
    margin-right: 30px;
  }
  .infoBox {
    display: inline;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    transition: all 300ms;
    .icon {
      cursor: pointer;
      &:before {
        content: "?";
        font-size: 16px;
        height: 20px;
        width: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $light;
        border: 1px solid $lightGray;
        color: $lightGray;
      }
    }
    .infoContent {
      position: absolute;
      width: 400px;
      height: auto;

      z-index: 100;
      top: 30px;
      left: 0px;
      background-color: darken($light, 5%);
      border-radius: 5px;
      padding: $basePdding;
    }
    &:hover {
      overflow: visible;
    }
  }
}
button,
.btn {
  line-height: 30px;
  padding: 10px 45px;
  border-radius: 5px;
  background-color: $mainColor;
  color: $light;
  margin: 20px 0px;
  cursor: pointer;
  transition: 300ms;
  &:hover {
    background-color: darken($mainColor, 20%);
  }
}
